{
  "openapi": "3.0.0",
  "info": {
    "title": "Last.app API",
    "description": "# Introduction\nYour integration is going to be linked with a Location, which belongs to an Organization.\nEach location can have more than one brand (Sushi, Poke, Burgers, ...). And each brand can have more than one catalog, with a different set of products.\n\nWhen you create a new Tab, it has to be linked to a specific brand (brand ids are unique, the same brand in different locations has a different id). Then we will route the tab to the right location under the right brand name.\n\nPlease go to our developer portal to add your integration.\n\n# Authentication\nFor both the Rest API and the webhooks we use the same authentication method. We will share with you an unique and secret token as a integrator, and in all the requests it has to be included as a header.\n\n`Authorization: Bearer \\${token}`\n\n[How to get it?](#tag/FAQ1)\n\nYou should also include in every endpoint (except this [one](#tag/API-Organizations/operation/OrganizationList), an extra header LocationID or OrganizationID.\nLook in every endpoint in AUTHORIZATIONS Field to know which one should be added.\n\n# Rate limits\nThere are 2 rate limits applying to all endpoints:\n- Rate limit of 1500 reqs every 10 min indexed by token / entity. <br>\n- Rate limit of 15 reqs every second indexed by token / entity. <br>\n\nAnd there is an specific rate limit only applying to [/organizations](#tag/API-Organizations/operation/OrganizationList) endpoint:\n- Rate limit of 1 reqs every second indexed by token. <br>\n\nBeing an entity a `LocationId` or `OrganizationId` which should be added as a header.\nLook in every endpoint in AUTHORIZATIONS Field to know which one should be added.\n\n# Migration Guide\nImport changes if you come from V1:\n- We have defined for most entities 2 schemes to be shared with you: *Simple scheme* and *Complete scheme*. <br>\nNote that **GET routes which returns a LIST** are returning entities with **simple scheme** format. <br>\nOn the other hand, **GET routes which returns a SINGLE ELEMENT** are returning entities with **complete scheme** format. <br>\nThe first example of this new behaviour is found on [Locations](#tag/API-Locations). <br>\nLook response samples of Location List and Location by ID\n\n- [Tokens](#tag/FAQ8) have completely changed: <br>\n**On V1**, a token allows an integrator to operate over **an organization.** <br>\nSo every integrator had a token for every organization. <br>\n**On V2**, a token allows an integrator to operate over **ALL his organizations.**\n\n# Development tools\n- Please once you have created your integrator on Developer Portal, go to Store section.\nThere you will be able to create a dummy organization with 1 location to test your integration.\nThis location will be created with a dummy floorplan, catalog, schedules, etc.\n- Note that once you have created this organization, Store Section will change and you will have 2 direct access to the POS and Admin.\n- To start testing your integration, remember to go to the admin, to the integrations sections and add your integration.\n\n# Integrators\n- Your integrator should be registered on our Developer Portal.\nIt will have the following statuses: [Test](#tag/FAQ2), Pending and Production.\n  - When your integrator is on **Test / Pending** statuses, only dummy location which you create on Developer Portal or Prod locations where you can login with your developer user, will be able to use it.\n  - When your integrator is on **Prod**, it's gonna be visible by **all our locations on their Admin Marketplace**.\nSo please, apart from selecting your capabilities and webhooks, have a time to edit your integrator on Developer Portal (logo, name, description, ...)\nLet restaurants know how you can help them in their daily lives!\n\n- When a restaurant wants to integrate with you, we ask them:\n  1) A the name for the integration\n  2) An externalId (this is their unique identifier on your system, so if needed help restaurants to get it)\n\n[Do you have a question?](#tag/FAQ12)\n\n# Real Time Loyalty\n\nLastApp API supports EXTERNAL customers and promotions.\n\nTo use this loyalty feature, you must implement the following 2 GET endpoints:\n\n[GET Customer by phone number](#operation/getCustomerByPhoneNumber)\n\n[GET Customer Promotions by phone number](#operation/getCustomerPromotionsByPhoneNumber)\n\nYou can specify these endpoints URLs on your integrator configuration on Developer Portal.\n\nWhen the POS tries to link a person to a tab with their phone number:\n\n1) If the customer doesn't exist yet on LastApp, we will call your 1st endpoint to get your customer data.\n\n2) We will call the 2nd endpoint to get the available promotions for this customer.\n",
    "version": "2.0.0",
    "x-logo": {
      "url": "https://developers.last.app/images/logo-718858a5.png",
      "altText": "Last.app logo"
    },
    "contact": {
      "name": "API Support",
      "email": "support@last.app"
    }
  },
  "servers": [
    {
      "url": "https://api.last.app/v2"
    }
  ],
  "tags": [
    {
      "name": "API Organizations",
      "x-displayName": "Organizations",
      "description": "Valid operations over organizations"
    },
    {
      "name": "API Locations",
      "x-displayName": "Locations",
      "description": "Valid operations over locations. What is a [brand](#tag/FAQ4)?"
    },
    {
      "name": "API Floorplans",
      "x-displayName": "Floorplans",
      "description": "Valid operations over floorplans"
    },
    {
      "name": "API Catalogs",
      "x-displayName": "Catalogs",
      "description": "Valid operations over catalogs"
    },
    {
      "name": "API Tabs",
      "x-displayName": "Tabs",
      "description": "Valid operations over tabs. What is a [tab](#tag/FAQ9)?"
    },
    {
      "name": "API Bills",
      "x-displayName": "Bills",
      "description": "Valid operations over bills. What is a [bill](#tag/FAQ9)?"
    },
    {
      "name": "API Payments",
      "x-displayName": "Payments",
      "description": "Valid operations over payments"
    },
    {
      "name": "API Orders",
      "x-displayName": "Orders",
      "description": "Valid operations over orders. What is an [order](#tag/FAQ9)?"
    },
    {
      "name": "API Promotions",
      "x-displayName": "Promotions",
      "description": "Valid operations over promotions"
    },
    {
      "name": "API Customers",
      "x-displayName": "Customers",
      "description": "Valid operations over customers"
    },
    {
      "name": "API Reservations",
      "x-displayName": "Reservations",
      "description": "Valid operations over reservations"
    },
    {
      "name": "API Terminals",
      "x-displayName": "Terminals",
      "description": "Valid operations over [terminals](#tag/FAQ11)"
    },
    {
      "name": "Webhook"
    },
    {
      "name": "Loyalty Customer",
      "x-displayName": "Customer",
      "description": "This endpoint must be implemented by you. We will call it to retrieve customer data when a phone number is linked to a tab in the POS.\n"
    },
    {
      "name": "Loyalty Promotions",
      "x-displayName": "Promotions",
      "description": "This endpoint must be implemented by you. We will call it to retrieve the available promotions for a customer after retrieving their data.\n"
    },
    {
      "name": "FAQ1",
      "x-displayName": "How can I get a testing account and a testing auth token?",
      "description": "You need to:\n1) Create an account on Last Developers Portal\n2) Configurate your integrations and for every one you will get a Token.\n3) Go to Store to generate a dummy organization to start testing your integration.\n\nIf you have any doubt, please contact our support team at hola@last.app.<br>\n"
    },
    {
      "name": "FAQ2",
      "x-displayName": "Once I have finished the integration with a testing account, how can I pass to Production?",
      "description": "You should ask for this to integrations@last.app sending us your integrator ID(s), we will check and answer you.\nAfter this is done, you will appear on the Admin page of every LastApp location to be discovered!\n"
    },
    {
      "name": "FAQ3",
      "x-displayName": "How can I get the ID of each location?",
      "description": "You should enable location:integrated location:desintegrated, to receive in real time when a location decides to add / delete the integration\nwith your product. We will send you their locationId and locationName.\n"
    },
    {
      "name": "FAQ4",
      "x-displayName": "Which is the difference between Location and brand?",
      "description": "In our system, a Location is a Restaurant, in simple words. Each location may want to appear with different brands in their online sales channels. For example, a location named Rick Restaurant can have multiple brands appearing at JustEat and UberEats, for example Rick Chickens, Rick Pizza, and Rick Sushi.\n"
    },
    {
      "name": "FAQ5",
      "x-displayName": "Which catalogs is my location using currently?",
      "description": "In the response from [GET Location By Id](#tag/API-Locations/operation/GetLocation) you will find a list of brands for each location, and each of this brands contains at the same time a list of catalogs.\n"
    },
    {
      "name": "FAQ6",
      "x-displayName": "How can I add a webhook URL or suscribe to a webhook event?",
      "description": "This should be done by yourself on the Developer Portal.\nIf you have any doubt, please contact our support team at hola@last.app.<br>\n"
    },
    {
      "name": "FAQ7",
      "x-displayName": "It is posible to update products pricing or catalogs through API?",
      "description": "This is not possible at the moment, the only thing you can update right now is the [status](#tag/API-Catalogs/operation/EnableCatalogProduct) of a catalog product.\n"
    },
    {
      "name": "FAQ8",
      "x-displayName": "How many tokens I need?",
      "description": "You'll only need ONE token for every product you have added on the Developer Portal.\nFor example, let's imagine you have added a Reservation product and Reporting product.\nYou will need a token for Reservation, and a token for Reporting, this token will identify your product in our system.\n"
    },
    {
      "name": "FAQ9",
      "x-displayName": "Which is the difference between tab, order, and bill?",
      "description": "A tab is a restaurant customer request.\nAn order is a tab which will not be eaten on the Restaurant, which means is a tab with pickupType = ['delivery', 'ownDelivery', 'takeAway'].\nA bill is an invoice, and it belongs to a tab. It contains payments and invoice details.\n"
    },
    {
      "name": "FAQ10",
      "x-displayName": "Which is the difference between source and pickupType?",
      "description": "The source is who or where the tab has been created, for example can be Restaurant, Shop, Glovo.\nThe pickupType specifies for the tabs which are orders, who should come to pick it up.\n"
    },
    {
      "name": "FAQ11",
      "x-displayName": "What is a terminal?",
      "description": "LastApp supports payment integrations, if you have terminals like dataphones or devices with tapToPay, you can add them to the specific location and will appear with the rest of payment methods on the POS.\nA part from this terminals, you should listen the webhooks related with payment-requests and use the endpoint to confirm or reject the payment request.\n"
    },
    {
      "name": "FAQ12",
      "x-displayName": "I have an API question, who can I ask about it?",
      "description": "You can send an email to integrations@last.app, where we will be pleased to help you as mush as we can.\n"
    }
  ],
  "x-tagGroups": [
    {
      "name": "Rest API",
      "tags": [
        "API Organizations",
        "API Locations",
        "API Floorplans",
        "API Catalogs",
        "API Tabs",
        "API Bills",
        "API Payments",
        "API Orders",
        "API Promotions",
        "API Customers",
        "API Reservations",
        "API Terminals",
        "Webhooks"
      ]
    },
    {
      "name": "Real Time Loyalty",
      "tags": [
        "Loyalty Customer",
        "Loyalty Promotions"
      ]
    },
    {
      "name": "FAQ",
      "tags": [
        "FAQ1",
        "FAQ2",
        "FAQ3",
        "FAQ4",
        "FAQ5",
        "FAQ6",
        "FAQ7",
        "FAQ8",
        "FAQ9",
        "FAQ10",
        "FAQ11",
        "FAQ12"
      ]
    }
  ],
  "paths": {
    "/organizations": {
      "get": {
        "summary": "Organization list",
        "description": "Returns a list of the organizations that have at least 1 location integrated with you",
        "operationId": "ListOrganizations",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "API Organizations"
        ],
        "responses": {
          "200": {
            "description": "List of organizations",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getOrganizations"
                },
                "example": [
                  {
                    "id": "f2779a96-578f-4649-89f6-a0972183efea",
                    "name": "Organization 1"
                  },
                  {
                    "id": "6df10f06-b232-4e8c-8599-d202d50f18d0",
                    "name": "Organization 2"
                  }
                ]
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/organizations/{organizationId}/courses": {
      "get": {
        "summary": "Organization Courses",
        "description": "Returns the list of courses defined by the organization",
        "operationId": "OrganizationCourses",
        "security": [
          {
            "bearerAuth": [],
            "organizationAuth": []
          }
        ],
        "tags": [
          "API Organizations"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "organizationId",
            "schema": {
              "type": "string",
              "format": "uuid",
              "minLength": 36,
              "maxLength": 36
            },
            "required": true,
            "description": "Organization Id"
          }
        ],
        "responses": {
          "200": {
            "description": "List of organization courses",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getOrganizationCourses"
                },
                "example": [
                  {
                    "name": "Entrantes",
                    "position": 0
                  },
                  {
                    "name": "Primeros",
                    "position": 1
                  },
                  {
                    "name": "Segundos",
                    "position": 2
                  }
                ]
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/organizations/{organizationId}/catalog": {
      "get": {
        "summary": "Organization Catalog",
        "description": "Returns organization catalog.",
        "operationId": "OrganizationCatalog",
        "security": [
          {
            "bearerAuth": [],
            "organizationAuth": []
          }
        ],
        "tags": [
          "API Organizations"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "organizationId",
            "schema": {
              "type": "string",
              "format": "uuid",
              "minLength": 36,
              "maxLength": 36
            },
            "required": true,
            "description": "Organization Id"
          }
        ],
        "responses": {
          "200": {
            "description": "Return all organization entities",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getOrganizationCatalog"
                },
                "example": {
                  "modifiers": [
                    {
                      "id": "4a024967-6690-4f99-955c-af2a7ccd7511",
                      "name": "Muy Hecho",
                      "priceImpact": 0,
                      "enabled": true
                    },
                    {
                      "id": "5b9d0e98-0a79-41b2-81c4-6795c9b1f280",
                      "name": "Al punto",
                      "priceImpact": 0,
                      "enabled": true
                    }
                  ],
                  "modifierGroups": [
                    {
                      "id": "2dbe5f3b-4e5b-4c98-b1b3-c3d2dc3484e5",
                      "name": "Como quieres la carne?",
                      "min": 1,
                      "max": 1,
                      "enabled": true,
                      "modifiers": [
                        "df8cbc46-43b4-4ba0-a139-38850c68fc56",
                        "cedbb119-aace-48a9-9792-8329470445e4"
                      ],
                      "organizationModifiers": [
                        {
                          "id": "df8cbc46-43b4-4ba0-a139-38850c68fc56",
                          "modifierId": "4a024967-6690-4f99-955c-af2a7ccd7511",
                          "priceOverride": 0
                        },
                        {
                          "id": "cedbb119-aace-48a9-9792-8329470445e4",
                          "modifierId": "5b9d0e98-0a79-41b2-81c4-6795c9b1f280",
                          "priceOverride": 150
                        }
                      ]
                    }
                  ],
                  "products": [
                    {
                      "id": "e80f9004-abac-4a0c-a190-f7fda9cb3208",
                      "name": "Burguer",
                      "price": 990,
                      "course": null,
                      "enabled": true,
                      "externalId": null,
                      "allergens": [
                        "milk"
                      ],
                      "schedules": [],
                      "modifierGroups": [
                        "2dbe5f3b-4e5b-4c98-b1b3-c3d2dc3484e5"
                      ]
                    },
                    {
                      "id": "e80f9004-abac-4a0c-a190-f7fda9cb3209",
                      "name": "Coca Cola",
                      "price": 120,
                      "course": null,
                      "enabled": true,
                      "externalId": null,
                      "allergens": [],
                      "schedules": [],
                      "modifierGroups": []
                    }
                  ],
                  "combos": [
                    {
                      "id": "18d121bd-99ac-4bc4-9ccb-ff294aa367c2",
                      "name": "Menu Burguer",
                      "price": 0,
                      "enabled": true,
                      "schedules": [],
                      "categories": [
                        {
                          "id": "bd3a5b9b-910e-4a37-b3c1-761e0d2c6c5a",
                          "name": "Burguers",
                          "min": 1,
                          "max": 1,
                          "enabled": true,
                          "products": [
                            {
                              "id": "7c50f78a-d9e6-4389-b90d-79b9114adc5a",
                              "productId": "e80f9004-abac-4a0c-a190-f7fda9cb3208",
                              "enabled": true,
                              "priceImpact": 0
                            }
                          ]
                        },
                        {
                          "id": "bd3a5b9b-910e-4a37-b3c1-761e0d2c6c56",
                          "name": "Bebidas",
                          "min": 1,
                          "max": 1,
                          "enabled": true,
                          "products": [
                            {
                              "id": "7c50f78a-d9e6-4389-b90d-79b9114adc5b",
                              "productId": "e80f9004-abac-4a0c-a190-f7fda9cb3209",
                              "enabled": true,
                              "priceImpact": 0
                            }
                          ]
                        }
                      ]
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/locations": {
      "get": {
        "summary": "Location list",
        "description": "Returns the location list integrated with you of this organization",
        "operationId": "ListLocations",
        "security": [
          {
            "bearerAuth": [],
            "organizationAuth": []
          }
        ],
        "tags": [
          "API Locations"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "organizationId",
            "schema": {
              "type": "string",
              "format": "uuid",
              "minLength": 36,
              "maxLength": 36
            },
            "required": true,
            "description": "Unique identifier of the organization"
          }
        ],
        "responses": {
          "200": {
            "description": "List of locations of this organization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/simplifiedLocation"
                },
                "example": [
                  {
                    "id": "f2779a92-578f-4649-89f6-a0972183efea",
                    "name": "Pl Catalunya",
                    "address": "Plaça de Catalunya, 08002 Barcelona",
                    "email": "notifications@restBarcelona.com",
                    "postalCode": "08002",
                    "phoneNumber": "666666666",
                    "latitude": 41.441969,
                    "longitude": 2.203933,
                    "countryCode": "ES",
                    "regionCode": "CT",
                    "city": "Barcelona"
                  },
                  {
                    "id": "6df10f06-b232-4e8c-8599-d202d50f18d0",
                    "name": "Prado",
                    "address": "Calle del Prado, 2, 28014 Madrid",
                    "email": "notifications@restMadrid.com",
                    "postalCode": "28014",
                    "phoneNumber": "666666666",
                    "latitude": 41.441969,
                    "longitude": 2.203933,
                    "countryCode": "ES",
                    "regionCode": "MD",
                    "city": "Madrid"
                  }
                ]
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/locations/{locationId}": {
      "get": {
        "summary": "Location by Id",
        "description": "Returns the location with this identifier",
        "operationId": "GetLocation",
        "security": [
          {
            "bearerAuth": [],
            "locationAuth": []
          }
        ],
        "tags": [
          "API Locations"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "locationId",
            "schema": {
              "type": "string",
              "format": "uuid",
              "minLength": 36,
              "maxLength": 36
            },
            "required": true,
            "description": "Unique identifier of the location"
          }
        ],
        "responses": {
          "200": {
            "description": "Location with his related entities",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/location"
                },
                "example": {
                  "id": "f2779a96-578f-4649-89f6-a0972183efea",
                  "name": "Pl Catalunya",
                  "address": "Plaça de Catalunya, 08002 Barcelona",
                  "email": "notifications@restBarcelona.com",
                  "organizationId": "90724ad8-334b-40d8-a07b-45d4b5e563d4",
                  "postalCode": "08002",
                  "phoneNumber": "666666666",
                  "latitude": 41.441969,
                  "longitude": 2.203933,
                  "countryCode": "ES",
                  "regionCode": "CT",
                  "city": "Barcelona",
                  "defaultPosCatalogId": "12349a96-578f-4649-89f6-a0972183efea",
                  "brands": [
                    {
                      "id": "23cdda27-2f82-46e4-a366-deecd5d420d0",
                      "name": "My Sushi Brand",
                      "catalogs": {
                        "default": "3ba9c8f3-a42f-495d-a793-7eb7af6537f1",
                        "justeat": null,
                        "takeaway": "3ba9c8f3-a42f-495d-a793-7eb7af6537f1",
                        "glovo": "3ba9c8f3-a42f-495d-a793-7eb7af6537f1",
                        "shop": {
                          "delivery": "3ba9c8f3-a42f-495d-a793-7eb7af6537f1",
                          "onsite": "3ba9c8f3-a42f-495d-a793-7eb7af6537f1",
                          "takeaway": "f241c7c4-013c-46ea-aca1-ea50ca1921e2"
                        }
                      },
                      "fullCatalogs": {
                        "default": {
                          "deliveryCatalogId": "3ba9c8f3-a42f-495d-a793-7eb7af6537f1",
                          "takeawayCatalogId": "3ba9c8f3-a42f-495d-a793-7eb7af6537f1",
                          "onsiteCatalogId": "3ba9c8f3-a42f-495d-a793-7eb7af6537f1"
                        },
                        "justeat": {
                          "deliveryCatalogId": "1a629846-25f2-4110-9b7d-e442e6eb8a39",
                          "takeawayCatalogId": null,
                          "onsiteCatalogId": null
                        },
                        "glovo": {
                          "deliveryCatalogId": "3ba9c8f3-a42f-495d-a793-7eb7af6537f1",
                          "takeawayCatalogId": null,
                          "onsiteCatalogId": null
                        },
                        "shop": {
                          "deliveryCatalogId": "3ba9c8f3-a42f-495d-a793-7eb7af6537f1",
                          "takeawayCatalogId": "f241c7c4-013c-46ea-aca1-ea50ca1921e2",
                          "onsiteCatalogId": "3ba9c8f3-a42f-495d-a793-7eb7af6537f1"
                        }
                      }
                    }
                  ],
                  "preparationMinutes": 15,
                  "deliveryAreas": [
                    {
                      "id": "a83f0995-0234-446f-ac42-c3e2492881bb",
                      "locationId": "f2789a96-578f-4649-89f6-a0972183efea",
                      "name": "Sicilia",
                      "type": "polygon",
                      "geometry": [
                        {
                          "lat": 41.411206735924424,
                          "lng": 2.170459031494123
                        },
                        {
                          "lat": 41.39781609535299,
                          "lng": 2.1618759626464668
                        },
                        {
                          "lat": 41.39408167471969,
                          "lng": 2.1728622907714668
                        },
                        {
                          "lat": 41.40039143284847,
                          "lng": 2.191058396728498
                        },
                        {
                          "lat": 41.41107799290444,
                          "lng": 2.190886735351545
                        }
                      ],
                      "estimatedDeliveryMinutes": 26,
                      "deliveryFee": 1200,
                      "deliveryExtraMinutes": 11,
                      "minimumBasket": 1000,
                      "enabled": false,
                      "position": 0,
                      "color": "#FF5733"
                    },
                    {
                      "id": "4123e3a3-2b2b-4c28-a733-50e87735b352",
                      "locationId": "f2799a96-578f-4649-89f6-a0972183efea",
                      "name": "maracaibo",
                      "type": "polygon",
                      "geometry": [
                        {
                          "lat": 41.44968945529636,
                          "lng": 2.1989548200683418
                        },
                        {
                          "lat": 41.441582953121106,
                          "lng": 2.1914017194824043
                        },
                        {
                          "lat": 41.431287522523725,
                          "lng": 2.2140610212402168
                        },
                        {
                          "lat": 41.44261240636137,
                          "lng": 2.2152626508788886
                        }
                      ],
                      "estimatedDeliveryMinutes": 45,
                      "deliveryFee": 190,
                      "deliveryExtraMinutes": 30,
                      "minimumBasket": 1000,
                      "enabled": false,
                      "position": 1,
                      "color": "#33FF57"
                    }
                  ],
                  "shopAreas": [
                    {
                      "id": "a83f0995-0234-446f-ac42-c3e2492881bb",
                      "locationId": "f2789a96-578f-4649-89f6-a0972183efea",
                      "name": "Sicilia",
                      "deliveryFee": 1200,
                      "deliveryExtraMinutes": 11,
                      "minimumBasket": 1000,
                      "polygon": [
                        {
                          "lat": 41.411206735924424,
                          "lng": 2.170459031494123
                        },
                        {
                          "lat": 41.39781609535299,
                          "lng": 2.1618759626464668
                        },
                        {
                          "lat": 41.39408167471969,
                          "lng": 2.1728622907714668
                        },
                        {
                          "lat": 41.40039143284847,
                          "lng": 2.191058396728498
                        },
                        {
                          "lat": 41.41107799290444,
                          "lng": 2.190886735351545
                        }
                      ],
                      "enabled": false,
                      "estimatedDeliveryMinutes": 26
                    },
                    {
                      "id": "4123e3a3-2b2b-4c28-a733-50e87735b352",
                      "locationId": "f2799a96-578f-4649-89f6-a0972183efea",
                      "name": "maracaibo",
                      "deliveryFee": 190,
                      "deliveryExtraMinutes": 30,
                      "minimumBasket": 1000,
                      "polygon": [
                        {
                          "lat": 41.44968945529636,
                          "lng": 2.1989548200683418
                        },
                        {
                          "lat": 41.441582953121106,
                          "lng": 2.1914017194824043
                        },
                        {
                          "lat": 41.431287522523725,
                          "lng": 2.2140610212402168
                        },
                        {
                          "lat": 41.44261240636137,
                          "lng": 2.2152626508788886
                        }
                      ],
                      "enabled": false,
                      "estimatedDeliveryMinutes": 45
                    }
                  ],
                  "workingTimes": {
                    "default": {
                      "thursday": [
                        {
                          "id": "6939ef89-9179-4ab8-97ff-d394999b5370",
                          "day": "thursday",
                          "start": "08:00",
                          "end": "00:00"
                        }
                      ],
                      "monday": [
                        {
                          "id": "6c2d8783-b299-4a44-9a9b-fae4f0b92874",
                          "day": "monday",
                          "start": "08:00",
                          "end": "00:00"
                        }
                      ],
                      "wednesday": [
                        {
                          "id": "991070eb-9561-460f-ad61-177affdc1b7b",
                          "day": "wednesday",
                          "start": "08:00",
                          "end": "00:00"
                        }
                      ],
                      "tuesday": [
                        {
                          "id": "aa1f3526-209c-4471-8a0c-090a10c0c975",
                          "day": "tuesday",
                          "start": "08:00",
                          "end": "00:00"
                        }
                      ],
                      "friday": [
                        {
                          "id": "df2c5ea5-ac9b-49a1-aff2-507cec1f528c",
                          "day": "friday",
                          "start": "08:00",
                          "end": "00:00"
                        }
                      ]
                    },
                    "f2779a95-578f-4649-89f6-a0972183efea": {
                      "friday": [
                        {
                          "id": "01e85701-1f9e-424c-a925-24749145cfd9",
                          "day": "friday",
                          "start": "08:00",
                          "end": "20:00",
                          "locationVirtualBrandId": "f2709a96-578f-4649-89f6-a0972183efea"
                        }
                      ],
                      "saturday": [
                        {
                          "id": "9ebbec16-c4de-4ff0-9c95-400414f51d60",
                          "day": "saturday",
                          "start": "08:00",
                          "end": "20:00",
                          "locationVirtualBrandId": "f2709a96-578f-4649-89f6-a0972183efea"
                        }
                      ],
                      "monday": [
                        {
                          "id": "b609a2d5-c528-42ac-bd19-4b29ba85aa59",
                          "day": "monday",
                          "start": "08:00",
                          "end": "20:00",
                          "locationVirtualBrandId": "f2709a96-578f-4649-89f6-a0972183efea"
                        }
                      ],
                      "wednesday": [
                        {
                          "id": "c4ac6828-afc5-4777-864b-8df55c7af067",
                          "day": "wednesday",
                          "start": "08:00",
                          "end": "20:00",
                          "locationVirtualBrandId": "f2709a96-578f-4649-89f6-a0972183efea"
                        }
                      ],
                      "thursday": [
                        {
                          "id": "d8def688-b17f-48ed-a680-0fe8acc9cf7e",
                          "day": "thursday",
                          "start": "08:00",
                          "end": "20:00",
                          "locationVirtualBrandId": "f2709a96-578f-4649-89f6-a0972183efea"
                        }
                      ],
                      "tuesday": [
                        {
                          "id": "ebd13e06-dbea-40d3-b66c-05ccec1465dc",
                          "day": "tuesday",
                          "start": "08:00",
                          "end": "20:00",
                          "locationVirtualBrandId": "f2709a96-578f-4649-89f6-a0972183efea"
                        }
                      ]
                    }
                  },
                  "paymentMethods": [
                    "card",
                    "cash",
                    "dataphone"
                  ],
                  "offlinePaymentMethods": [
                    {
                      "method": "card",
                      "pickupType": "takeaway"
                    },
                    {
                      "method": "card",
                      "pickupType": "delivery"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/floorplans": {
      "get": {
        "summary": "Floorplan List",
        "description": "Returns a list of floorplans",
        "operationId": "ListFloorplans",
        "security": [
          {
            "bearerAuth": [],
            "locationAuth": []
          }
        ],
        "tags": [
          "API Floorplans"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "locationId",
            "schema": {
              "type": "string",
              "format": "uuid",
              "minLength": 36,
              "maxLength": 36
            },
            "required": true,
            "description": "Unique identifier of the location"
          },
          {
            "in": "query",
            "name": "name",
            "schema": {
              "type": "string",
              "minLength": 1,
              "example": "Sala"
            },
            "description": "Name of the floorplan"
          }
        ],
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/floorplans"
                },
                "example": [
                  {
                    "id": "d482a7b0-377e-4a56-8c43-7d847738f044",
                    "name": "Main",
                    "locationId": "f2779a96-578f-4649-89f6-a0972183efea",
                    "tables": [
                      {
                        "id": "03d96ebb-b36c-43b1-874a-24eecec1abc2",
                        "name": "A1",
                        "min": 1,
                        "max": 2,
                        "seats": 2,
                        "flatFeeSurcharge": 10
                      },
                      {
                        "id": "398bcf26-141f-42c5-80a2-391270d7f92a",
                        "name": "B2",
                        "min": 1,
                        "max": 2,
                        "seats": 2,
                        "flatFeeSurcharge": 10
                      },
                      {
                        "id": "11b005ee-d7e3-4aea-b545-9d1d659b0396",
                        "name": "Barra",
                        "min": 1,
                        "max": 4,
                        "seats": 4,
                        "flatFeeSurcharge": 0
                      }
                    ]
                  },
                  {
                    "id": "75b87c37-6ca2-4815-9e07-3f05b0185a66",
                    "name": "Outside",
                    "locationId": "f2779a96-578f-4649-89f6-a0972183efea",
                    "tables": [
                      {
                        "id": "cb38cb1c-9052-4637-a499-50d4fd8fc86c",
                        "name": "T2",
                        "min": 1,
                        "max": 2,
                        "seats": 2,
                        "flatFeeSurcharge": 200
                      }
                    ]
                  }
                ]
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/floorplans/{floorplanId}": {
      "get": {
        "summary": "Floorplan by Id",
        "description": "Returns a floorplan by his identifier",
        "operationId": "GetFloorplan",
        "security": [
          {
            "bearerAuth": [],
            "locationAuth": []
          }
        ],
        "tags": [
          "API Floorplans"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "floorplanId",
            "schema": {
              "type": "string",
              "format": "uuid",
              "minLength": 36,
              "maxLength": 36
            },
            "required": true,
            "description": "Unique identifier of the floorplan"
          }
        ],
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/floorplan"
                },
                "example": {
                  "id": "d482a7b0-377e-4a56-8c43-7d847738f044",
                  "name": "Main",
                  "locationId": "f2779a96-578f-4649-89f6-a0972183efea",
                  "tables": [
                    {
                      "id": "03d96ebb-b36c-43b1-874a-24eecec1abc2",
                      "name": "A1",
                      "min": 1,
                      "max": 2,
                      "seats": 2,
                      "flatFeeSurcharge": 10
                    },
                    {
                      "id": "398bcf26-141f-42c5-80a2-391270d7f92a",
                      "name": "B2",
                      "min": 1,
                      "max": 2,
                      "seats": 2,
                      "flatFeeSurcharge": 10
                    },
                    {
                      "id": "11b005ee-d7e3-4aea-b545-9d1d659b0396",
                      "name": "Barra",
                      "min": 1,
                      "max": 4,
                      "seats": 4,
                      "flatFeeSurcharge": 0
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/catalogs": {
      "get": {
        "summary": "Catalogs list",
        "description": "Returns a list of catalogs\n",
        "operationId": "ListCatalogs",
        "security": [
          {
            "bearerAuth": [],
            "locationAuth": []
          }
        ],
        "tags": [
          "API Catalogs"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "locationId",
            "schema": {
              "type": "string",
              "format": "uuid",
              "minLength": 36,
              "maxLength": 36
            },
            "required": true,
            "description": "Unique identifier of the location"
          },
          {
            "in": "query",
            "name": "name",
            "schema": {
              "type": "string",
              "minLength": 1,
              "example": "Delivery Catalog"
            },
            "description": "Name of the catalog"
          }
        ],
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/simplifiedCatalog"
                },
                "example": [
                  {
                    "id": "93724e32-195d-49cd-9b0e-96e3dc0945b5",
                    "name": "My Catalog",
                    "organizationId": "19264e32-195d-49cd-9b0e-96e3dc0945b5",
                    "deleted": false
                  }
                ]
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/catalogs/{catalogId}": {
      "get": {
        "summary": "Catalogs by Id",
        "description": "Returns a catalog by his identifier",
        "operationId": "GetCatalog",
        "security": [
          {
            "bearerAuth": [],
            "locationAuth": []
          }
        ],
        "tags": [
          "API Catalogs"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "catalogId",
            "schema": {
              "type": "string",
              "format": "uuid",
              "minLength": 36,
              "maxLength": 36
            },
            "required": true,
            "description": "Unique identifier of the catalog"
          }
        ],
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/catalog"
                },
                "example": {
                  "id": "93724e32-195d-49cd-9b0e-96e3dc0945b5",
                  "name": "My Catalog",
                  "organizationId": "19264e32-195d-49cd-9b0e-96e3dc0945b5",
                  "deleted": false,
                  "modifierGroups": [
                    {
                      "allowRepeat": false,
                      "id": "c033799d-0448-4166-8f21-a3f86c115849",
                      "min": 1,
                      "max": 1,
                      "name": "Point",
                      "modifiers": [
                        {
                          "name": "Rare",
                          "id": "120ae8bc-05e2-4e17-8dc4-4d33ae76e023",
                          "organizationModifierId": "c064032c-885a-4e61-9bee-293ee030aa76",
                          "priceImpact": 0,
                          "externalId": "1234"
                        },
                        {
                          "name": "Medium",
                          "id": "8ddc4e32-195d-49cd-9b0e-96e3dc0945b5",
                          "organizationModifierId": "b671220a-fe3a-4dff-8aef-c2a228a57e56",
                          "priceImpact": 0
                        },
                        {
                          "name": "Well done",
                          "id": "12881d29-efa5-4522-a3b0-0f790b1d1e93",
                          "organizationModifierId": "77a42a6f-3af3-495a-8767-2fe0816d792c",
                          "priceImpact": 0
                        }
                      ]
                    }
                  ],
                  "categories": [
                    {
                      "name": "Example category",
                      "id": "d8486f43-04c6-4d94-b683-654e053957f0",
                      "enabled": true,
                      "description": "A nice example category",
                      "products": [
                        {
                          "name": "Burger",
                          "type": "PRODUCT",
                          "price": 750,
                          "vatPercentage": 10,
                          "allergens": [
                            "EGG",
                            "GLUTEN"
                          ],
                          "specifications": [
                            "glutenfree",
                            "hot",
                            "vegan"
                          ],
                          "id": "1a2cfa61-0d75-43d1-a839-3b5ba5c3bf10",
                          "externalId": "3567",
                          "description": "A nice burger",
                          "imageUrl": "https://res.cloudinary.com/lastpos/image/upload/someImageId",
                          "modifierGroups": [
                            "c033799d-0448-4166-8f21-a3f86c115849"
                          ],
                          "organizationProductId": "e98f45e0-d614-4a44-9ab1-616489fc38f1"
                        }
                      ]
                    },
                    {
                      "name": "Combos",
                      "id": "combos-category-id",
                      "enabled": true,
                      "description": "Category for combos",
                      "products": [
                        {
                          "name": "Menu",
                          "type": "COMBO",
                          "price": 1000,
                          "vatPercentage": 10,
                          "id": "7452516e-5884-4495-b953-7997cb0d3039",
                          "categories": [
                            {
                              "id": "a289a696-f39a-434d-af3e-421b35ed3cb6",
                              "name": "First",
                              "max": 1,
                              "products": [
                                {
                                  "id": "a21192ec-5e7e-414c-8c86-df9110238ad1",
                                  "name": "Edamame",
                                  "priceImpact": 150,
                                  "modifierGroups": []
                                }
                              ]
                            }
                          ],
                          "organizationComboId": "e4a4ace0-fda5-45e7-9b77-f03d4161019c",
                          "imageUrl": "https://res.cloudinary.com/lastpos/image/upload/comboImage",
                          "description": "Explanation of the combo"
                        }
                      ]
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/catalogs/{catalogId}/products/{productId}": {
      "put": {
        "summary": "Enable / Disable catalog product",
        "description": "Allows to enable or disable a existent catalog product",
        "operationId": "EnableCatalogProduct",
        "security": [
          {
            "bearerAuth": [],
            "locationAuth": []
          }
        ],
        "tags": [
          "API Catalogs"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "catalogId",
            "schema": {
              "type": "string",
              "format": "uuid",
              "minLength": 36,
              "maxLength": 36
            },
            "required": true,
            "description": "Unique identifier of the catalog"
          },
          {
            "in": "path",
            "name": "productId",
            "schema": {
              "type": "string",
              "format": "uuid",
              "minLength": 36,
              "maxLength": 36
            },
            "required": true,
            "description": "Unique identifier of the catalog product id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/enableCatalogProduct"
              },
              "example": {
                "enable": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/tabs": {
      "post": {
        "summary": "Create Tab",
        "description": "Create a tab",
        "operationId": "CreateTab",
        "security": [
          {
            "bearerAuth": [],
            "locationAuth": []
          }
        ],
        "tags": [
          "API Tabs"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/createTab"
              },
              "example": {
                "brandId": "f2779a96-578f-4649-89f6-a0972183efea",
                "products": [
                  {
                    "type": "PRODUCT",
                    "id": "86eda7fe-e59f-4ca3-89a8-3a179ee8e0f2",
                    "name": "Burger",
                    "quantity": 2,
                    "price": 1000,
                    "modifiers": [
                      {
                        "priceImpact": 300,
                        "id": "63ac4b67-c39b-42bb-8d44-36e57e586152",
                        "name": "Extra meat",
                        "quantity": 2
                      },
                      {
                        "priceImpact": 0,
                        "id": "cf7805aa-4fb9-4a97-b975-924b48898a97",
                        "name": "Water (33 cl)",
                        "quantity": 1
                      }
                    ]
                  },
                  {
                    "type": "PRODUCT",
                    "externalId": "07fc40ab-0e6b-4cb7-ac6b-3442c7c77ade",
                    "name": "Ice cream",
                    "quantity": 1,
                    "price": 480,
                    "modifiers": [
                      {
                        "quantity": 1,
                        "name": "Vanilla flavour",
                        "priceImpact": 0,
                        "id": "614338bc-b017-4cc4-9528-375a5d42d0ea"
                      },
                      {
                        "priceImpact": 0,
                        "id": "e127cc65-5281-4433-8389-1ed8286f7074",
                        "name": "Small size",
                        "quantity": 1
                      }
                    ]
                  },
                  {
                    "type": "COMBO",
                    "name": "Combo",
                    "price": 480,
                    "id": "348951a7-dea5-409e-a365-21f51045da67",
                    "quantity": 1,
                    "products": [
                      {
                        "id": "4b5dd754-e4b2-478c-9bf7-df1f476d0763",
                        "quantity": 1,
                        "name": "Combo option",
                        "priceImpact": 0
                      }
                    ]
                  }
                ],
                "notes": "I am allergic to tomato",
                "code": "B1234567",
                "operationalCode": "B123",
                "pickupTime": "2019-09-10T13:17:00.000Z",
                "preferredPaymentMethod": "cash",
                "customer": {
                  "name": "Bruce",
                  "surname": "Wayne",
                  "phoneNumber": "+34666666666",
                  "email": "hello@test.com"
                },
                "company": {
                  "name": "Monsters, Inc",
                  "address": "Gran Via de les Corts Catalanes, 620",
                  "taxId": "B66249567"
                },
                "discount": {
                  "concept": "Discount of 5%!",
                  "amount": 5,
                  "type": "percentage"
                },
                "schedulingTime": "2019-09-10T13:17:00.000Z",
                "delivery": {
                  "address": "Gran Via de les Corts Catalanes, 620",
                  "details": "First door to the left",
                  "latitude": 41.3876734,
                  "longitude": 2.1647098,
                  "fee": 190
                },
                "payments": [
                  {
                    "method": "card",
                    "paidAmount": 7000
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/tab"
                },
                "example": {
                  "name": null,
                  "creationTime": "2020-07-31T15:48:22.000Z",
                  "locationId": "f2779a96-578f-4649-89f6-a0972183efea",
                  "source": "Shop",
                  "allergyInfo": null,
                  "customerNote": null,
                  "kitchenNote": null,
                  "tableName": null,
                  "closeTime": "2020-08-06T15:32:04.000Z",
                  "locationBrandId": "23cdda27-2f82-46e4-a366-deecd5d420d0",
                  "customerId": "998a26bd-04a0-11ea-8884-0242ac110002",
                  "code": "S002",
                  "pickupType": "takeAway",
                  "schedulingTime": "2020-08-02T22:30:00.000Z",
                  "activationTime": "2020-08-06T15:32:04.000Z",
                  "tabTables": [],
                  "products": [
                    {
                      "id": "f3cf29da-b5c9-408f-b6e9-ba14732b0bc8",
                      "catalogProductId": "7d2b8e27-e0bf-4732-8044-223943b7fd05",
                      "organizationProductId": "3cbeaeca-49f6-4dda-be87-5f7cb96d12db",
                      "organizationComboId": null,
                      "externalId": "0534073e-3eec-4ecc-83a4-ab446a30ca2a",
                      "name": "Burger",
                      "price": 1400,
                      "quantity": 1,
                      "course": "Main",
                      "comments": null,
                      "fullPrice": 1400,
                      "finalPrice": 1400,
                      "type": "PRODUCT",
                      "promotionId": null,
                      "deleted": false,
                      "modifiers": [
                        {
                          "id": "348ca8b3-28cd-4adf-a5ce-951f0158d704",
                          "name": "Cheese",
                          "priceImpact": 0,
                          "quantity": 1,
                          "catalogModifierId": "65254ec3-3ec8-4279-a5b9-118dd4391832"
                        }
                      ],
                      "comboProducts": []
                    }
                  ],
                  "seats": 1,
                  "waiters": [
                    "Elon"
                  ],
                  "employeeName": "Jose",
                  "bills": [
                    {
                      "id": "e7812d44-d953-4617-9960-dee1e68253fc",
                      "number": 859,
                      "creationTime": "2020-07-31T15:48:23.000Z",
                      "finalizingTime": "2020-07-31T15:48:23.000Z",
                      "company": {
                        "name": "LastPOS",
                        "taxId": "1234",
                        "address": "Maracaibo 8, Nave 2, 08041, Barcelona"
                      },
                      "total": 1400,
                      "tax": 127,
                      "taxableBase": 1273,
                      "discountTotal": 0,
                      "deliveryFee": 0,
                      "minimumBasketSurcharge": 0,
                      "terraceSurcharge": 0,
                      "terraceSurchargePercentage": 0,
                      "payments": [],
                      "products": [
                        {
                          "id": "7a740ff2-d326-42ea-a239-c9b9125d3fc3",
                          "catalogProductId": "7d2b8e27-e0bf-4732-8044-223943b7fd05",
                          "tabProductId": "f3cf29da-b5c9-408f-b6e9-ba14732b0bc8",
                          "name": "Burger",
                          "price": 1400,
                          "originalPrice": 1400,
                          "quantity": 1,
                          "modifiers": [
                            {
                              "id": "be75642e-7f74-42e8-bd3d-de575caa1848",
                              "name": "Cheese",
                              "priceImpact": 0,
                              "quantity": 1,
                              "catalogModifierId": "54393d6e-5780-45da-a96f-8de45eac10cc"
                            }
                          ],
                          "comboProducts": []
                        }
                      ]
                    }
                  ],
                  "customerInfo": {
                    "name": "Bruce",
                    "surname": "Wayne",
                    "phoneNumber": "+34666666666",
                    "email": "batman@wayneindustries.com"
                  },
                  "delivery": {
                    "address": "Gran Via de les Corts Catalanes, 620",
                    "details": "First door to the left",
                    "latitude": 41.3876734,
                    "longitude": 2.1647098,
                    "statuses": [
                      {
                        "creationTime": "2020-08-03T09:10:11.000Z",
                        "status": "KITCHEN"
                      },
                      {
                        "creationTime": "2020-08-05T14:06:09.000Z",
                        "status": "CLOSED"
                      }
                    ],
                    "courier": {
                      "name": "Jose"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "get": {
        "summary": "Tab List",
        "description": "Returns a list of tabs. <br>\n`NOTE` Maximum interval date: 365 days\n",
        "operationId": "ListTabs",
        "security": [
          {
            "bearerAuth": [],
            "locationAuth": []
          }
        ],
        "tags": [
          "API Tabs"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "locationId",
            "required": true,
            "description": "Unique identifier of the location",
            "schema": {
              "type": "string",
              "format": "uuid",
              "minLength": 36,
              "maxLength": 36,
              "example": "712b9774-5298-42ac-aa5e-c61debb8e419"
            }
          },
          {
            "in": "query",
            "name": "startDate",
            "required": true,
            "description": "Retrieve tabs with activation time after startDate (in ISO 8601)",
            "schema": {
              "type": "string",
              "format": "date-time",
              "example": "2024-03-28 10:59:06"
            },
            "allowReserved": true
          },
          {
            "in": "query",
            "name": "endDate",
            "required": true,
            "description": "Retrieve tabs with activation time after endDate (in ISO 8601)",
            "schema": {
              "type": "string",
              "format": "date-time",
              "example": "2024-04-04 10:59:06"
            },
            "allowReserved": true
          },
          {
            "in": "query",
            "name": "offset",
            "description": "The number of tabs to skip.",
            "schema": {
              "type": "number",
              "default": 0,
              "minimum": 0
            }
          },
          {
            "in": "query",
            "name": "limit",
            "description": "The maximum number of tabs to be returned.",
            "schema": {
              "type": "number",
              "default": 20,
              "minimum": 5,
              "maximum": 100
            }
          },
          {
            "in": "query",
            "name": "tabName",
            "description": "Only retrieve tabs with a specific name",
            "schema": {
              "type": "string",
              "example": "Ricardo"
            }
          },
          {
            "in": "query",
            "name": "tableId",
            "description": "Only retrieve tabs from tables with this id",
            "schema": {
              "type": "string",
              "example": "bb4ff314-4d9f-4fa9-a046-749fd1d12b18"
            }
          },
          {
            "in": "query",
            "name": "tableName",
            "description": "Only retrieve tabs from tables with a specific name",
            "schema": {
              "type": "string",
              "example": "A1"
            }
          },
          {
            "in": "query",
            "name": "open",
            "description": "Only retrieve tabs which are open/closed",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "customerId",
            "description": "Only retrieve tabs from a specific customer",
            "schema": {
              "type": "string",
              "format": "uuid",
              "minLength": 36,
              "maxLength": 36,
              "example": "712b9774-5298-42ac-aa5e-c61debb8e419"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getTabs"
                },
                "example": [
                  {
                    "id": "bbcfabf5-d660-4c21-9751-4e8f197439e4",
                    "name": null,
                    "creationTime": "2020-07-31T15:48:22.000Z",
                    "locationId": "f2779a96-578f-4649-89f6-a0972183efea",
                    "source": "Shop",
                    "allergyInfo": null,
                    "customerNote": null,
                    "kitchenNote": null,
                    "tableName": null,
                    "closeTime": "2020-08-06T15:32:04.000Z",
                    "cancelTime": "2020-08-06T15:32:04.000Z",
                    "locationBrandId": "23cdda27-2f82-46e4-a366-deecd5d420d0",
                    "customerId": "998a26bd-04a0-11ea-8884-0242ac110002",
                    "code": "S002",
                    "pickupType": "takeAway",
                    "schedulingTime": "2020-08-02T22:30:00.000Z",
                    "activationTime": "2020-08-06T15:32:04.000Z",
                    "seats": 1
                  }
                ]
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/tabs/{tabId}": {
      "get": {
        "summary": "Tab by ID",
        "description": "Allows to retrieve a specific tab by its ID.",
        "operationId": "GetTab",
        "security": [
          {
            "bearerAuth": [],
            "locationAuth": []
          }
        ],
        "tags": [
          "API Tabs"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "tabId",
            "schema": {
              "type": "string",
              "format": "uuid",
              "minLength": 36,
              "maxLength": 36
            },
            "required": true,
            "description": "Unique identifier of the tab"
          }
        ],
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/tab"
                },
                "example": {
                  "name": null,
                  "creationTime": "2020-07-31T15:48:22.000Z",
                  "locationId": "f2779a96-578f-4649-89f6-a0972183efea",
                  "source": "Shop",
                  "allergyInfo": null,
                  "customerNote": null,
                  "kitchenNote": null,
                  "tableName": null,
                  "closeTime": "2020-08-06T15:32:04.000Z",
                  "locationBrandId": "23cdda27-2f82-46e4-a366-deecd5d420d0",
                  "customerId": "998a26bd-04a0-11ea-8884-0242ac110002",
                  "code": "S002",
                  "pickupType": "takeAway",
                  "schedulingTime": "2020-08-02T22:30:00.000Z",
                  "activationTime": "2020-08-06T15:32:04.000Z",
                  "tabTables": [],
                  "products": [
                    {
                      "id": "f3cf29da-b5c9-408f-b6e9-ba14732b0bc8",
                      "catalogProductId": "7d2b8e27-e0bf-4732-8044-223943b7fd05",
                      "organizationProductId": "3cbeaeca-49f6-4dda-be87-5f7cb96d12db",
                      "organizationComboId": null,
                      "externalId": "0534073e-3eec-4ecc-83a4-ab446a30ca2a",
                      "name": "Burger",
                      "price": 1400,
                      "quantity": 1,
                      "course": "Main",
                      "comments": null,
                      "fullPrice": 1400,
                      "finalPrice": 1400,
                      "type": "PRODUCT",
                      "promotionId": null,
                      "deleted": false,
                      "modifiers": [
                        {
                          "id": "348ca8b3-28cd-4adf-a5ce-951f0158d704",
                          "name": "Cheese",
                          "priceImpact": 0,
                          "quantity": 1,
                          "catalogModifierId": "65254ec3-3ec8-4279-a5b9-118dd4391832"
                        }
                      ],
                      "comboProducts": []
                    }
                  ],
                  "seats": 1,
                  "waiters": [
                    "Elon"
                  ],
                  "employeeName": "Jose",
                  "bills": [
                    {
                      "id": "e7812d44-d953-4617-9960-dee1e68253fc",
                      "number": 859,
                      "creationTime": "2020-07-31T15:48:23.000Z",
                      "finalizingTime": "2020-07-31T15:48:23.000Z",
                      "company": {
                        "name": "LastPOS",
                        "taxId": "1234",
                        "address": "Maracaibo 8, Nave 2, 08041, Barcelona"
                      },
                      "total": 1400,
                      "tax": 127,
                      "taxableBase": 1273,
                      "discountTotal": 0,
                      "deliveryFee": 0,
                      "minimumBasketSurcharge": 0,
                      "terraceSurcharge": 0,
                      "terraceSurchargePercentage": 0,
                      "payments": [],
                      "products": [
                        {
                          "id": "7a740ff2-d326-42ea-a239-c9b9125d3fc3",
                          "catalogProductId": "7d2b8e27-e0bf-4732-8044-223943b7fd05",
                          "tabProductId": "f3cf29da-b5c9-408f-b6e9-ba14732b0bc8",
                          "name": "Burger",
                          "price": 1400,
                          "originalPrice": 1400,
                          "quantity": 1,
                          "modifiers": [
                            {
                              "id": "be75642e-7f74-42e8-bd3d-de575caa1848",
                              "name": "Cheese",
                              "priceImpact": 0,
                              "quantity": 1,
                              "catalogModifierId": "54393d6e-5780-45da-a96f-8de45eac10cc"
                            }
                          ],
                          "comboProducts": []
                        }
                      ]
                    }
                  ],
                  "customerInfo": {
                    "name": "Bruce",
                    "surname": "Wayne",
                    "phoneNumber": "+34666666666",
                    "email": "batman@wayneindustries.com"
                  },
                  "delivery": {
                    "address": "Gran Via de les Corts Catalanes, 620",
                    "details": "First door to the left",
                    "latitude": 41.3876734,
                    "longitude": 2.1647098,
                    "statuses": [
                      {
                        "creationTime": "2020-08-03T09:10:11.000Z",
                        "status": "KITCHEN"
                      },
                      {
                        "creationTime": "2020-08-05T14:06:09.000Z",
                        "status": "CLOSED"
                      }
                    ],
                    "courier": {
                      "name": "Jose"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "summary": "Cancel Tab",
        "description": "Cancel a Tab",
        "operationId": "CancelTab",
        "security": [
          {
            "bearerAuth": [],
            "locationAuth": []
          }
        ],
        "tags": [
          "API Tabs"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "tabId",
            "schema": {
              "type": "string",
              "format": "uuid",
              "minLength": 36,
              "maxLength": 36
            },
            "required": true,
            "description": "Unique identifier of the tab"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/cancelTab"
              },
              "example": {
                "cancelReason": "User cancelled manually"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Status",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "Done"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/tabs/{tabId}/products": {
      "post": {
        "summary": "Add Tab Products",
        "description": "Allows to add products to a tab",
        "operationId": "AddTabProducts",
        "security": [
          {
            "bearerAuth": [],
            "locationAuth": []
          }
        ],
        "tags": [
          "API Tabs"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "tabId",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Tab Id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/addTabProducts"
                }
              },
              "example": [
                {
                  "type": "PRODUCT",
                  "id": "86eda7fe-e59f-4ca3-89a8-3a179ee8e0f2",
                  "name": "Burger",
                  "quantity": 2,
                  "price": 1000,
                  "modifiers": [
                    {
                      "priceImpact": 300,
                      "id": "63ac4b67-c39b-42bb-8d44-36e57e586152",
                      "name": "Extra meat",
                      "quantity": 2
                    },
                    {
                      "priceImpact": 0,
                      "id": "cf7805aa-4fb9-4a97-b975-924b48898a97",
                      "name": "Water (33 cl)",
                      "quantity": 1
                    }
                  ]
                },
                {
                  "type": "PRODUCT",
                  "externalId": "07fc40ab-0e6b-4cb7-ac6b-3442c7c77ade",
                  "name": "Ice cream",
                  "quantity": 1,
                  "price": 480,
                  "modifiers": [
                    {
                      "quantity": 1,
                      "name": "Vanilla flavour",
                      "priceImpact": 0,
                      "id": "614338bc-b017-4cc4-9528-375a5d42d0ea"
                    },
                    {
                      "priceImpact": 0,
                      "id": "e127cc65-5281-4433-8389-1ed8286f7074",
                      "name": "Small size",
                      "quantity": 1
                    }
                  ]
                },
                {
                  "type": "COMBO",
                  "name": "Combo",
                  "price": 480,
                  "id": "348951a7-dea5-409e-a365-21f51045da67",
                  "quantity": 1,
                  "products": [
                    {
                      "id": "4b5dd754-e4b2-478c-9bf7-df1f476d0763",
                      "quantity": 1,
                      "name": "Combo option",
                      "priceImpact": 0
                    }
                  ]
                }
              ]
            }
          }
        },
        "responses": {
          "201": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/tab"
                },
                "example": {
                  "name": null,
                  "creationTime": "2020-07-31T15:48:22.000Z",
                  "locationId": "f2779a96-578f-4649-89f6-a0972183efea",
                  "source": "Shop",
                  "allergyInfo": null,
                  "customerNote": null,
                  "kitchenNote": null,
                  "tableName": null,
                  "closeTime": "2020-08-06T15:32:04.000Z",
                  "locationBrandId": "23cdda27-2f82-46e4-a366-deecd5d420d0",
                  "customerId": "998a26bd-04a0-11ea-8884-0242ac110002",
                  "code": "S002",
                  "pickupType": "takeAway",
                  "schedulingTime": "2020-08-02T22:30:00.000Z",
                  "activationTime": "2020-08-06T15:32:04.000Z",
                  "tabTables": [],
                  "products": [
                    {
                      "id": "f3cf29da-b5c9-408f-b6e9-ba14732b0bc8",
                      "catalogProductId": "7d2b8e27-e0bf-4732-8044-223943b7fd05",
                      "organizationProductId": "3cbeaeca-49f6-4dda-be87-5f7cb96d12db",
                      "organizationComboId": null,
                      "externalId": "0534073e-3eec-4ecc-83a4-ab446a30ca2a",
                      "name": "Burger",
                      "price": 1400,
                      "quantity": 1,
                      "course": "Main",
                      "comments": null,
                      "fullPrice": 1400,
                      "finalPrice": 1400,
                      "type": "PRODUCT",
                      "promotionId": null,
                      "deleted": false,
                      "modifiers": [
                        {
                          "id": "348ca8b3-28cd-4adf-a5ce-951f0158d704",
                          "name": "Cheese",
                          "priceImpact": 0,
                          "quantity": 1,
                          "catalogModifierId": "65254ec3-3ec8-4279-a5b9-118dd4391832"
                        }
                      ],
                      "comboProducts": []
                    }
                  ],
                  "seats": 1,
                  "waiters": [
                    "Elon"
                  ],
                  "employeeName": "Jose",
                  "bills": [
                    {
                      "id": "e7812d44-d953-4617-9960-dee1e68253fc",
                      "number": 859,
                      "creationTime": "2020-07-31T15:48:23.000Z",
                      "finalizingTime": "2020-07-31T15:48:23.000Z",
                      "company": {
                        "name": "LastPOS",
                        "taxId": "1234",
                        "address": "Maracaibo 8, Nave 2, 08041, Barcelona"
                      },
                      "total": 1400,
                      "tax": 127,
                      "taxableBase": 1273,
                      "discountTotal": 0,
                      "deliveryFee": 0,
                      "minimumBasketSurcharge": 0,
                      "terraceSurcharge": 0,
                      "terraceSurchargePercentage": 0,
                      "payments": [],
                      "products": [
                        {
                          "id": "7a740ff2-d326-42ea-a239-c9b9125d3fc3",
                          "catalogProductId": "7d2b8e27-e0bf-4732-8044-223943b7fd05",
                          "tabProductId": "f3cf29da-b5c9-408f-b6e9-ba14732b0bc8",
                          "name": "Burger",
                          "price": 1400,
                          "originalPrice": 1400,
                          "quantity": 1,
                          "modifiers": [
                            {
                              "id": "be75642e-7f74-42e8-bd3d-de575caa1848",
                              "name": "Cheese",
                              "priceImpact": 0,
                              "quantity": 1,
                              "catalogModifierId": "54393d6e-5780-45da-a96f-8de45eac10cc"
                            }
                          ],
                          "comboProducts": []
                        }
                      ]
                    }
                  ],
                  "customerInfo": {
                    "name": "Bruce",
                    "surname": "Wayne",
                    "phoneNumber": "+34666666666",
                    "email": "batman@wayneindustries.com"
                  },
                  "delivery": {
                    "address": "Gran Via de les Corts Catalanes, 620",
                    "details": "First door to the left",
                    "latitude": 41.3876734,
                    "longitude": 2.1647098,
                    "statuses": [
                      {
                        "creationTime": "2020-08-03T09:10:11.000Z",
                        "status": "KITCHEN"
                      },
                      {
                        "creationTime": "2020-08-05T14:06:09.000Z",
                        "status": "CLOSED"
                      }
                    ],
                    "courier": {
                      "name": "Jose"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/tabs/{tabId}/pending-products": {
      "get": {
        "summary": "Tab pending products list",
        "description": "Allows to retrieve tab products which are not billed yet. <br>\nThis endpoint can be helpful if you want flexibility when creating bills. <br>\nCheck `pendingProducts` on POST Create Bill endpoint.\n",
        "operationId": "TabPendingProductList",
        "security": [
          {
            "bearerAuth": [],
            "locationAuth": []
          }
        ],
        "tags": [
          "API Tabs"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "tabId",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Tab Id"
          }
        ],
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getTabPendingProducts"
                },
                "example": [
                  {
                    "id": "9cea02c5-337c-43ec-a539-68b7ed6742b7",
                    "quantity": 1
                  },
                  {
                    "id": "db377549-620b-4105-a455-396ae9a0e245",
                    "quantity": 2
                  }
                ]
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/bills": {
      "post": {
        "summary": "Create bill",
        "description": "Allows to create a bill for a specific tab. <br>\nDefault: If `pendingProducts` not specified, bill will be created for all pending products & fees pending to be paid. <br>\nIn case you want to generate a bill only for specific pending products, use `pendingProducts` array specifying the tabProductIds. <br>\nCheck Tab pending products list GET endpoint.\n",
        "operationId": "CreateBill",
        "security": [
          {
            "bearerAuth": [],
            "locationAuth": []
          }
        ],
        "tags": [
          "API Bills"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/createBill"
              },
              "example": {
                "tabId": "1a224103-8015-4e9d-8f5b-19cc701429a4",
                "discount": {
                  "type": "percentage",
                  "amount": 10,
                  "concept": "Discount for the first purchase"
                },
                "pendingProducts": [
                  "712b9774-5298-42ac-aa5e-c61debb8e419"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/simplifiedBill"
                },
                "example": [
                  {
                    "id": "866ed6ee-f325-434b-9c8a-e5d0fc07b53f",
                    "number": 859,
                    "rectifiedBillNumber": 934,
                    "creationTime": "2020-07-31T15:48:23.000Z",
                    "finalizingTime": "2020-07-31T15:48:23.000Z",
                    "company": {
                      "name": "LastPOS",
                      "taxId": "1234",
                      "address": "Maracaibo 8, Nave 2, 08041, Barcelona"
                    },
                    "customerCompany": {
                      "name": "Acme Inc.",
                      "taxId": "B12345678",
                      "address": "Maracaibo 9, Nave 3, 08041, Barcelona"
                    },
                    "total": 1400,
                    "tax": 127,
                    "taxableBase": 1273,
                    "taxPercentage": 10,
                    "discountTotal": 0,
                    "deliveryFee": 0,
                    "minimumBasketSurcharge": 0,
                    "terraceSurcharge": 0,
                    "terraceSurchargePercentage": 0
                  }
                ]
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "get": {
        "summary": "Bill List",
        "description": "Returns a list of bills. <br>\nPaginated endpoint. <br>\n`NOTE` Maximum interval date: 365 days\n",
        "operationId": "ListBills",
        "security": [
          {
            "bearerAuth": [],
            "locationAuth": []
          }
        ],
        "tags": [
          "API Bills"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "locationId",
            "required": true,
            "description": "Retrieve bills related to this location",
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "712b9774-5298-42ac-aa5e-c61debb8e419"
            }
          },
          {
            "in": "query",
            "name": "startDate",
            "required": true,
            "description": "Retrieve bills with activation time after startDate (in ISO 8601)",
            "schema": {
              "type": "string",
              "format": "date-time",
              "example": "2024-03-28 10:59:06"
            },
            "allowReserved": true
          },
          {
            "in": "query",
            "name": "endDate",
            "required": true,
            "description": "Retrieve bills with activation time after endDate (in ISO 8601)",
            "schema": {
              "type": "string",
              "format": "date-time",
              "example": "2024-04-04 10:59:06"
            },
            "allowReserved": true
          },
          {
            "in": "query",
            "name": "offset",
            "description": "The number of bills to skip",
            "schema": {
              "type": "number",
              "default": 0,
              "minimum": 0
            }
          },
          {
            "in": "query",
            "name": "limit",
            "description": "Number of elements per page",
            "schema": {
              "type": "number",
              "default": 20,
              "minimum": 5,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/simplifiedBill"
                  }
                },
                "example": [
                  {
                    "id": "866ed6ee-f325-434b-9c8a-e5d0fc07b53f",
                    "number": 859,
                    "rectifiedBillNumber": 934,
                    "creationTime": "2020-07-31T15:48:23.000Z",
                    "finalizingTime": "2020-07-31T15:48:23.000Z",
                    "company": {
                      "name": "LastPOS",
                      "taxId": "1234",
                      "address": "Maracaibo 8, Nave 2, 08041, Barcelona"
                    },
                    "customerCompany": {
                      "name": "Acme Inc.",
                      "taxId": "B12345678",
                      "address": "Maracaibo 9, Nave 3, 08041, Barcelona"
                    },
                    "total": 1400,
                    "tax": 127,
                    "taxableBase": 1273,
                    "taxPercentage": 10,
                    "discountTotal": 0,
                    "deliveryFee": 0,
                    "minimumBasketSurcharge": 0,
                    "terraceSurcharge": 0,
                    "terraceSurchargePercentage": 0
                  }
                ]
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/bills/{billId}": {
      "get": {
        "summary": "Bill by Id",
        "description": "Returns a bill by his identifier.",
        "operationId": "GetBill",
        "security": [
          {
            "bearerAuth": [],
            "locationAuth": []
          }
        ],
        "tags": [
          "API Bills"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "billId",
            "schema": {
              "type": "string",
              "format": "uuid",
              "minLength": 36,
              "maxLength": 36
            },
            "required": true,
            "description": "Unique identifier of the bill"
          }
        ],
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/bill"
                },
                "example": {
                  "id": "866ed6ee-f325-434b-9c8a-e5d0fc07b53f",
                  "number": 859,
                  "creationTime": "2020-07-31T15:48:23.000Z",
                  "finalizingTime": "2020-07-31T15:48:23.000Z",
                  "company": {
                    "name": "LastPOS",
                    "taxId": "1234",
                    "address": "Maracaibo 8, Nave 2, 08041, Barcelona"
                  },
                  "total": 1400,
                  "tax": 127,
                  "taxableBase": 1273,
                  "taxPercentage": 10,
                  "discountTotal": 0,
                  "deliveryFee": 0,
                  "minimumBasketSurcharge": 0,
                  "terraceSurcharge": 0,
                  "terraceSurchargePercentage": 0,
                  "preferredPaymentMethod": "card",
                  "payments": [],
                  "products": [
                    {
                      "id": "7a740ff2-d326-42ea-a239-c9b9125d3fc3",
                      "catalogProductId": "7d2b8e27-e0bf-4732-8044-223943b7fd05",
                      "tabProductId": "f3cf29da-b5c9-408f-b6e9-ba14732b0bc8",
                      "name": "Burger",
                      "price": 1400,
                      "originalPrice": 1400,
                      "quantity": 1,
                      "modifiers": [
                        {
                          "id": "be75642e-7f74-42e8-bd3d-de575caa1847",
                          "name": "Cheese",
                          "priceImpact": 0,
                          "quantity": 1,
                          "catalogModifierId": "54393d6e-5780-45da-a96f-8de45eac10cc"
                        }
                      ],
                      "comboProducts": []
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/payments": {
      "post": {
        "summary": "Create Payment",
        "description": "Adds a payment to an existing bill from an open tab. It is possible for a bill to have multiple partial payments. Once all the tab bills are paid fully, the tab will be closed automatically. If the sum of all the payments is greater than the bill total, the difference will be considered as tip for that bill.",
        "operationId": "CreatePayment",
        "security": [
          {
            "bearerAuth": [],
            "locationAuth": []
          }
        ],
        "tags": [
          "API Payments"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/createPayment"
              },
              "example": {
                "billId": "0154734b-c56e-432c-9679-0961ec002166",
                "amount": 2500,
                "tip": 10,
                "type": "YourIntegratorName"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/payment"
                },
                "example": {
                  "id": "bedffaac-5a09-498b-aa22-80323449a3ea",
                  "type": "cash",
                  "amount": 300,
                  "deleted": false,
                  "billId": "723ed6ee-f325-434b-9c8a-e5d0fc07b53f",
                  "creationTime": "2020-07-31T15:48:23.000Z",
                  "userId": "174ed6ee-f325-434b-9c8a-e5d0fc07b53f",
                  "tillId": "155ed6ee-f325-434b-9c8a-e5d0fc07b53f",
                  "tip": 0
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
[...]
